#corporate_logo {
    background: url(https://www.ports.je/static/logo_portsofjersey-6d15fae….png);
    max-height: 189px;
    padding: 170px 450px 0px 0px;
    background-size: auto;
    width: 0px;
    height: 0px;
    background-repeat: no-repeat;
    background-position: center;
}
