#corporate_logo {
  /*width: 500px;
  height: 189px;
  */
  max-height: 189px;
  padding: 170px 450px 0px 0px;
  background: url('https://www.ports.je/static/logo_portsofjersey-6d15fae1aea65516989a9950777096b4.png'); 
  background-size:auto; 
  width:0px; 
  height: 0px;
  background-position: center;
}
