body {
    padding: 7px;
    background-color: #f3f3f3;
}
div#logowrapper {
    background-color: #fff;
    text-align: center;
    opacity: 1;
    padding: 7px;
    border-radius: 4px;
}
div#paylinkPage {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #DDD;
    max-width: 512px;
    padding-bottom: 15px;
}
div#productDescription {
    text-align: center;
    padding: 20px;
}
#corporate_logo {
    max-height: 189px;
    padding: 120px 190px 0 0;
    background: url('logo.png') no-repeat center;
    background-size: contain;
    width: 0;
    height: 0;
}
span#prev_text {
    visibility: hidden;
    position: relative;
    font-size: 0;
}
span#prev_text:after {
    visibility: visible;
    font-size: 14px;
    content: "Back";
}
button#wz_previous {
    width: 20%;
}
button#process {
    width: fit-content;
}
input#amountEntry {
    font-size: x-large;
}
div#paylinkMenu {
    width: fit-content;
    float: right;
}
div#logo {
    height: 3em;
    margin-top: 0;
    margin-left: 0;
}
div#paylinkMenu {
    border-bottom: 0;
}
h3 {
    text-align: center;
    width: initial;
    order: 1;
    margin-left: 0;
}
div#paylinkPayInfo p {
    width: initial;
    text-align: center;
    order: 1
}
#paylinkPayInfo {
    display: flex;
    flex-direction: column;
}
#cart {
    order: 2;
}
#amounts {
    order: 1;
}
.input-group.has-feedback {
    width: 95%;
}
span#amountEntry-error {
    text-align: center;
}
